    <h1 *ngIf="basket.basketArr[0] === undefined">There is no any goods in basket ! Add it !!!</h1>


        
    <div class="product" *ngFor="let item of basket.basketArr" >

        <div class="img">
            <img [src]="item.product.imgurl">
        </div>

        <div class="info">
            <h3>{{item.product.title | capitalize}} / {{item.product.manufacturer | uppercase}}</h3>
            <p class="productDescription">{{item.product?.description | capitalize}}</p>
        </div>

        <div class="calculations">
           <p> Price: {{item.product.price | currency}} </p>
            <label>
                Quantity: 
                <input type="number" min="0" [(ngModel)]="item.count" />   
            </label>
            <p> Total Price: {{item.product.price * item.count}}  </p>  <!--    -->
            <p (click) = "basket.removeItem(item)" title="Remove item from the list">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </p>
        </div> 
    
    </div>


<!--   SUM UP SECTION 
    <div class="sumUp" *ngIf="basket.basketArr[0] != undefined">

        <div class="img">
            <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
        </div>

        <div class="info">
            <ul>
                <li *ngFor="let item of basket.basketArr">{{item.title}}</li>
            </ul>
        </div>

        <div class="calculations">
            <h3>
                Total price:
            </h3>
            <p>
                {{10000 | currency}}
            </p>
        </div>

    </div>
    -->
