.product {
    width: 48%;
    height: 350px;
    display: inline-block;
    padding: 15px;
    margin: 1%;
    background-color: white;
    border: 3px solid navy;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.productDescription {
    width: 90%;
    margin: auto;
} 

.productPrice {
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
    background-color: white;
}

button i {
    color: navy;
    background-color: white;
}

@media (max-width: 650px) {
    .product {
        width: 98%;
    }
}

@media (max-width: 330px) {
    .product {
        height: 370px;
    }
}

@media (min-width: 1200px) {
    .product {
        width: 31.3%;
    }
}
