h1 {
    background-color: #acb3bf; 
    text-align: center;
    margin-bottom: 0;
    font-family: 'Baloo Bhaina', cursive;
}

nav {
    width: 20%;
    float: left;
}

.content {
    width: 79%;
    float: right;
}


@media (max-width: 450px) {
    nav {
        width: 98%;
        float: none;
    }
    .content {
        width: 100%;
        float: none;
    }
}
