.productsFilter {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: 3px solid navy;
    border-radius: 10px;
}

input {
    padding: 3px;
    margin: auto;
    border-radius: 3px;
}

.textInput {
    max-width: 100px;
}

.numberInput {
    max-width: 50px;
}