a,label {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    width: 100%;
    list-style-type: none;
}

.menu>li {
    width: inherit;
    margin: 5px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: #a9c6ae;
}

.menu>li a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

.dropDownMenu>li {
    background-color: #84a88a;
}

form {
    background-color: #84a88a;
}

input {
    margin: 3px;
    width: 95%;
}

/* active menu */ 
.active {
    background-color: grey;
}

.active i {
    display: none;
}

i {
    padding-left: 5px;
}


/* basket highlighting */
@keyframes basket {
    0% {color: red;}
    33% {color: yellow;}
    66% {color: orangered;}
    100% {color: red;}
}

i {
    color: red;
    animation-name: basket;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}