<ul class="menu">

    <li>
      <a routerLink="/">Categories</a>
    </li>

    <li>
      <a routerLink="/products" (click)="prodToggle()">Products</a>  
      <div *ngIf="productStatusTogle">
        <ul class="dropDownMenu">
          <li *ngFor = "let category of categories">
            <a [routerLink]="['/production', category.id]"> {{category.name | uppercase}} </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a routerLink="/details">Details</a>
    </li>

    <li>
      <a routerLink="/basket">Basket</a>
    </li>

    <li>
      <a routerLink="/filter" (click)="filtToggle()">Filter</a> 
      <div *ngIf="filterStatusTogle">
        <form>
          <label>
            Title
            <input type="text" name="title"        [(ngModel)]="filtering.title" />   
          </label>
          <label>
            Manufacturer
            <input type="text" name="manufacturer" [(ngModel)]="filtering.manufacturer" /> 
          </label>
        </form>
      </div>
    </li>
    
</ul>