<ul class="menu">

    <li>
      <a href="/">Categories</a>
    </li>

    <li>
      <a href="#" (click)="prodToggle()">Products</a>  <!-- if I set an refference (not #) my page reload and togle not working -->
      <div *ngIf="productStatusTogle">
        <ul class="dropDownMenu">
          <li *ngFor = "let category of categories">
            <a href="#"> {{category | uppercase}} </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="/details">Details</a>
    </li>

    <li>
      <a href="/cart">Cart</a>
    </li>

    <li>
      <a href="#" (click)="filtToggle()">Filter</a> <!-- if I set an refference (not #) my page reload and togle not working -->
      <div *ngIf="filterStatusTogle">
        <form>
          <label>
            Title
            <input type="text">
          </label>
          <label>
            Manufacturer
            <input type="text">
          </label>
          <input type="submit">
        </form>
      </div>
    </li>
    
</ul>